/* Custom CSS */
.article-background {
    /*background-image: ;*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.article-background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);  /* 白色半透明遮罩 */
}
.article-content-wrapper {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-content {
    margin: 2rem;
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.article-content p {
    margin-bottom: 1.25rem;
}

.article-content a {
    color: #0d6efd;
    text-decoration: underline;
}

.article-content a:hover {
    color: #0a58ca;
}

.article-content img {
    max-width: 70%;
    height: auto;
    margin: 1rem auto;
    display: block;

}

.article-content blockquote {
    padding: 1rem 1.25rem;
    margin: 1.5rem 0;
    border-left: 0.25rem solid #dfe2e5;
    background-color: #f8f9fa;
}

.article-content code {
    background-color: #f8f9fa;
    padding: 0.2rem 0.4rem;
    font-size: 85%;
    border-radius: 0.25rem;
}

.article-content pre code {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 1rem;
    display: block;
    overflow-x: auto;
}


.toc {
    /*margin: 2rem 0;*/
    /*padding: 1rem;*/
    background-color: #f8f9fa;
    border: 1px solid #dfe2e5;
    border-radius: 0.25rem;
}

.toc h2 {
    margin-top: 0;
}

.toc ul {
    list-style: none;
    /*padding-left: 0;*/
}

.toc ul li {
    margin-bottom: 0.5rem;
}

.toc ul li a {
    text-decoration: none;
}

.toc ul li a:hover {
    text-decoration: underline;
}