{% extends 'blog/base.html' %}
{% load static %}
{% load markdown_extras %}
{% load blog_tags %}

{% block content %}
    <div class="container-fluid">
        {% include 'blog/components/nav.html' %}
        <div class="row">
            <!-- 左侧栏 -->
            <div class="col-md-3 bg-light">
                <div class="sticky-top pt-3">
                    {% sidebar_personal username %}
                </div>
            </div>

            <!-- 右侧栏 -->
            <div class="col-md-9 pt-3">
                {{ article_detail.content | markdown }}
            </div>
        </div>
    </div>
{% endblock %}
