{% extends 'blog/layout_two_column.html' %}
{% load static %}
{% load blog_tags %}


{% block style %}
    <link href="{% static 'blog/css/blog_post.css' %}" rel="stylesheet">
{% endblock %}

{% block column-left %}
    <div class="sticky-top pt-3">
        {% sidebar_personal username %}
        <div class="card toc">
            <div class="card-body">
                <h5 class="card-title">目录</h5>
                <ul class="list-group list-group-flush">
                    {% render_markdown article.content as rendered %}
                    {{ rendered.toc | safe }}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block column-right %}
    <div class="blog-post">
        <h1>{{ article.title }}</h1>
        <p class="text-muted">发布时间: {{ article.created_time }}</p>
        <p class="text-muted">作者: {{ article.user }}</p>
        <div class="content">
            {% render_markdown article.content as rendered %}
            {{ rendered.content | safe }}
        </div>
    </div>
{% endblock %}