{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <script src="{% static 'plugins/tagify-4.27.0/tagify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/tagify-4.27.0/tagify.css' %}" type="text/css"/>
    <script src="{% static 'plugins/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
    <style>
        .tags-look .tagify__dropdown__item{
            display: inline-block;
            vertical-align: middle;
            border-radius: 3px;
            padding: .3em .5em;
            border: 1px solid #CCC;
            background: #F3F3F3;
            margin: .2em;
            font-size: .85em;
            color: black;
            transition: 0s;
        }
        
        .tags-look .tagify__dropdown__item--active{
            border-color: black;
        }
        
        .tags-look .tagify__dropdown__item:hover{
            background: lightyellow;
            border-color: gold;
        }
        
        .tags-look .tagify__dropdown__item--hidden {
            max-width: 0;
            max-height: initial;
            padding: .3em 0;
            margin: .2em 0;
            white-space: nowrap;
            text-indent: -20px;
            border: 0;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row mt-3">
        <form id="articleCreateForm" class="w-100" action="
                {% if article %}{% url 'edit_article' article.nid %}{% else %}{% url 'create_article' %}{% endif %}"
              method="post">
            {% csrf_token %}
            {{ create_form.media }}
            <div class="row mb-3">
                <div class="col">
                    {{ create_form.title }}
                </div>
                <div class="col-auto">
                    <button type="button" id="saveDraft" class="btn btn-custom btn-secondary ">存为草稿</button>
                    <button type="button" id="publishButton" class="btn btn-custom btn-join ">发布</button>
                </div>
            </div>
            <div class="mb-3">
                {{ create_form.content }}
            </div>
            {{ create_form.author }}
            {{ create_form.status }}
        </form>

        <div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="publishModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-dialog">
                <div class="modal-content custom-modal-size">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="publishModalLabel">发布文章</h1>
                        <button type="button" class="btn-close" id="closeModal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="articlePublishForm">
                            {% csrf_token %}
                            <input type="hidden" name="nid" id="articleNid" value="{{ article.nid|default:'' }}">

                            {% for field in publish_form %}
                                {% if field.name != 'status' %}
                                    <div class="mb-3 row {% if field.name == 'cover' %}align-items-center{% endif %}">
                                        <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">
                                            {{ field.label }}
                                        </label>
                                        <div class="col-sm-{% if field.name == 'cover' %}4{% else %}10{% endif %}">
                                            {% if field.name == 'cover' %}
                                                <div class="position-relative d-inline-block cover">
                                                    <img src="
                                                            {{ MEDIA_URL }}{{ field.value|default:'covers/default.jpg' }}"
                                                         alt="cover" id="coverPreview" class="img-fluid rounded"
                                                         style="cursor: pointer;">
                                                    <div class="overlay-text" id="coverOverlayText">点击上传</div>
                                                    {{ field }}
                                                </div>
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <button type="button" class="btn btn-login btn-custom pull-right mt-3" id="confirmPublish">发布</button>
                            {{ publish_form.status }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Backdrop -->
        <div class="modal-backdrop fade" id="modalBackdrop"></div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3"></div>
    </div>
</div>

<script>

    let publishArticleUrl = '{% url "publish_article" 0 %}';
    $(document).ready(function (){
        function initTagify(inputId, whitelist, maxTags) {
            let input = $(`input[name="${inputId}"]`)[0];
            let tagify = new Tagify(input, {
                whitelist: whitelist,
                maxTags: maxTags,
                dropdown: {
                    maxItems: 10,
                    classname: "tags-look",
                    enabled: 0,
                    closeOnSelect: false
                }
            });
        }
        // 初始化分类和标签输入框
        initTagify('categories', {{ all_categories | safe }}, 3);
        initTagify('tags', {{ all_tags | safe }}, 3);
    });

</script>
<script src="{% static 'blog/js/editor.js' %}"></script>
</body>
</html>
