{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.3/css/bootstrap.min.css' %}">
    <script src="{% static 'plugins/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
<div class="container-fluid">
    <div class="row mt-3">
        <form id="articleCreateForm" class="w-100" action="
                {% if article %}{% url 'edit_article' article.nid %}{% else %}{% url 'create_article' %}{% endif %}"
              method="post">
            {% csrf_token %}
            {{ create_form.media }}
            <div class="row mb-3">
                <div class="col">
                    {{ create_form.title }}
                </div>
                <div class="col-auto">
                    <button type="button" id="saveDraft" class="btn btn-secondary">存为草稿</button>
                    <button type="button" id="publishButton" class="btn btn-primary">发布</button>
                </div>
            </div>
            <div class="mb-3">
                {{ create_form.content }}
            </div>
            {{ create_form.user }}
            {{ create_form.state }}
        </form>

        <!-- Modal -->
        <div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="publishModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-dialog">
                <div class="modal-content custom-modal-size">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="publishModalLabel">发布文章</h1>
                        <button type="button" class="btn-close" id="closeModal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="articlePublishForm">
                            {% csrf_token %}
                            <input type="hidden" name="nid" id="articleNid"
                                   value="{% if article %}{{ article.nid }}{% endif %}">
                            <div class="mb-3 row">
                                <label for="description" class="col-sm-2 col-form-label">文章摘要</label>
                                <div class="col-sm-10">
                                    {{ publish_form.desc }}
                                </div>
                            </div>
                            <div class="mb-3 row align-items-center">
                                <label class="col-sm-2 col-form-label">文章封面</label>
                                <div class="col-sm-4">
                                    <div class="position-relative d-inline-block cover">
                                        <img src="/media/{{ publish_form.cover.value }}" alt="cover" id="coverPreview"
                                             class="img-fluid rounded" style="cursor: pointer;">
                                        <div class="overlay-text" id="coverOverlayText">点击上传</div>
                                        {{ publish_form.cover }}
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" id="confirmPublish">发布</button>
                            {{ publish_form.state }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Backdrop -->
        <div class="modal-backdrop fade" id="modalBackdrop"></div>

    </div>
</div>

<script>
    let publishArticleUrl = '{% url "publish_article" 0 %}';
</script>
<script src="{% static 'blog/js/editor.js' %}"></script>
</body>
</html>
