{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="login">
            <h3 class="text-center">登 录</h3>
            <form>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">用户名</label>
                    <input type="text" id="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password">密码</label>
                    <input type="password" id="password" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="verification_code">验证码</label>
                    <div class="row">
                        <div class="col">
                            <input type="text" id="verification_code" class="form-control">
                        </div>
                        <div class="col">
                            <img src="/get_verification_code" alt="Verification_code" id="verification_code_img">
                        </div>
                    </div>
                </div>
                <input type="button" class="btn btn-success login_btn focus-ring-light" value="登录">
                <a href="/register/" class="btn btn-primary">注册</a>
            </form>
        </div>
    </div>
{% endblock %}
