{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="login">
            <h3 class="text-center">注 册</h3>
            <form>
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }} <span class="error"></span>
                    </div>
                {% endfor %}
                <input type="button" class="btn btn-success register_btn" value="注册">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'blog/js/account.js' %}"></script>
{% endblock %}