{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tagify with Django API - jQuery Version</title>
    <script src="{% static 'plugins/tagify-4.27.0/tagify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugins/tagify-4.27.0/tagify.css' %}" type="text/css"/>
    <script src="{% static 'plugins/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
</head>
<body>
<input name='categories' class='tagify--custom-dropdown' placeholder='Type an English letter'
       value='{{ categories }}'>


<script>
    $(document).ready(function () {
        function initTagify(inputId, whitelist, maxTags) {
            let input = $(`input[name="${inputId}"]`)[0];
            let tagify = new Tagify(input, {
                whitelist: whitelist,
                maxTags: maxTags,
                dropdown: {
                    maxItems: 20,
                    classname: "tags-look",
                    enabled: 0,
                    closeOnSelect: false
                }
            });
        }

        // 初始化分类和标签输入框
        initTagify('categories', {{ all_categories | safe }}, 3);
    });
</script>
</body>
</html>