{% extends 'blog/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/css/auth.css' %}">
{% endblock %}

{% block title %}
    <title>密码重置 | 映思漫记</title>
{% endblock %}

{% block content %}
    <div class="container-fluid auth-container">
        <div class="auth-form">
            <h2 class="auth-title">密码重置</h2>
            <form id="confirmResetForm">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="id_password"></label>
                    <input type="password" name="password" class="form-control" placeholder="密码" maxlength="20"
                           minlength="6" required="" id="id_password">
                    <div class="error-message" id="id_password-error"></div>
                </div>
                <div class="mb-4">
                    <label for="id_confirm_password"></label>
                    <input type="password" name="confirm_password" class="form-control" placeholder="确认密码"
                           maxlength="20" minlength="6" required="" id="id_confirm_password">
                    <div class="error-message" id="id_confirm_password-error"></div>
                </div>
                <button type="submit" class="btn btn-primary btn-auth w-100 mb-3 mt-3">重置密码</button>
            </form>
            <div class="text-center links">
                <a href="{% url 'login' %}" class="text-decoration-none">返回登录</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'blog/js/auth.js' %}"></script>
{% endblock %}

                        
                    