{#<footer class="footer">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-4 mb-4 mb-lg-0">#}
{#                <h5 class="mb-3">关于BinLab</h5>#}
{#                <p>BinLab是一个致力于技术分享和交流的博客社区，我们期待与您一同探索科技的无限可能。</p>#}
{#            </div>#}
{#            <div class="col-lg-4 mb-4 mb-lg-0">#}
{#                <h5 class="mb-3">快速链接</h5>#}
{#                <ul class="list-unstyled">#}
{#                    <li><a href="#home">首页</a></li>#}
{#                    <li><a href="#categories">分类</a></li>#}
{#                    <li><a href="#featured">精选文章</a></li>#}
{#                    <li><a href="#latest-posts">最新文章</a></li>#}
{#                    <li><a href="#about">关于我们</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="col-lg-4">#}
{#                <h5 class="mb-3">订阅我们的通讯</h5>#}
{#                <p>获取最新的技术资讯和独家内容</p>#}
{#                <form class="newsletter-form">#}
{#                    <div class="input-group mb-3">#}
{#                        <input type="email" class="form-control" placeholder="您的邮箱地址" aria-label="您的邮箱地址"#}
{#                               aria-describedby="button-addon2">#}
{#                        <button class="btn btn-custom" type="button" id="button-addon2">订阅</button>#}
{#                    </div>#}
{#                </form>#}
{#                <div class="social-icons mt-3">#}
{#                    <a href="#"><i class="fab fa-twitter"></i></a>#}
{#                    <a href="#"><i class="fab fa-facebook"></i></a>#}
{#                    <a href="#"><i class="fab fa-linkedin"></i></a>#}
{#                    <a href="#"><i class="fab fa-github"></i></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <hr class="my-4">#}
{#        <p class="text-center mb-0">&copy; 2024 BinLab. All rights reserved.</p>#}
{#    </div>#}
{#</footer>#}
<footer class="footer bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p class="text-center mb-4 text-muted">BinLab，二进制实验室，一个致力于技术分享和交流的博客社区，我们期待与您一同探索科技的无限可能。</p>
            </div>
        </div>
        
        <div class="text-center mb-4">
            <ul class="list-inline small">
                <li class="list-inline-item"><a href="#home" class="text-decoration-none mx-2 ">首页</a></li>
                <li class="list-inline-item"><a href="#categories" class="text-decoration-none  mx-2 ">分类</a></li>
                <li class="list-inline-item"><a href="#featured" class="text-decoration-none mx-2">精选文章</a></li>
                <li class="list-inline-item"><a href="#latest-posts" class="text-decoration-none  mx-2">最新文章</a></li>
                <li class="list-inline-item"><a href="#about" class="text-decoration-none  mx-2">关于我们</a></li>
            </ul>
        </div>
        
        <hr class="my-4">
        <p class="text-center mb-0 text-muted small">&copy; 2024 BinLab. All rights reserved.</p>
    </div>
</footer>

