{% extends 'blog/components/base.html' %}
{% load static %}

{% block nav %}
    {% include 'blog/components/nav.html' %}
{% endblock %}

{% block main %}
    <div class="container-fluid mt-5-custom">
        <div class="row">

            <!-- 左侧栏 -->
            <div class="col-md-2 bg-light pt-2">
                {% block column-left %}
                {% endblock %}
            </div>

            <!-- 右侧栏 -->
            <div class="col-md-10 pt-3">
                {% block column-right %}
                {% endblock %}
            </div>

        </div>

    </div>
{% endblock %}

{% block footer %}
    {% include 'blog/components/footer.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'blog/js/nav.js' %}"></script>
{% endblock %}